In [1]:
# Bootstrap
import sys, os
import pandas as pd

# Add repo root to path so imports work
sys.path.append(os.path.abspath(os.path.join("..", "..")))

from berlin_housing import config

In [ ]:
# Set visualization options

In [2]:
ortsteil_master = pd.read_csv(os.path.join(config.PROCESSED_DIR, "ortsteil_master_with_poi.csv"))
ortsteil_master.head()

,bezirk,ortsteil,subdistrict_population_age_0_5,subdistrict_population_age_5_10,subdistrict_population_age_10_15,subdistrict_population_age_15_20,subdistrict_population_age_20_25,subdistrict_population_age_25_30,subdistrict_population_age_30_35,subdistrict_population_age_35_40,...,theatre,travel_agency,vacant,wine,yes,cafes,bakeries,green_space,schools,medical
0,treptow-koepenick,adlershof,1177.0,846.0,710.0,671.0,1410.0,1765.0,2274.0,1833.0,...,0,0,0,0,1,11,1,215,17,8
1,lichtenberg,alt-hohenschoenhausen,2960.0,2689.0,2308.0,1975.0,2360.0,2943.0,4609.0,3963.0,...,0,0,0,0,0,9,0,375,38,8
2,treptow-koepenick,alt-treptow,840.0,727.0,560.0,450.0,457.0,895.0,1617.0,1685.0,...,0,0,0,0,0,13,1,183,13,5
3,treptow-koepenick,altglienicke,1724.0,1788.0,1631.0,1391.0,1417.0,1411.0,2162.0,2134.0,...,1,0,0,0,0,2,1,286,22,3
4,treptow-koepenick,baumschulenweg,880.0,732.0,620.0,569.0,866.0,1374.0,2107.0,1669.0,...,0,0,0,0,0,5,0,62,14,3