# District Level Master Table

In [1]:
# import libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Import CSV files
berlin_buildings = pd.read_csv('../data/cleaned_data/berlin_buildings.csv')
berlin_employment = pd.read_csv('../data/cleaned_data/berlin_employment.csv')
berlin_households = pd.read_csv('../data/cleaned_data/berlin_households.csv')
berlin_median_income = pd.read_csv('../data/cleaned_data/berlin_median_income_bezirk.csv')
berlin_population = pd.read_csv('../data/cleaned_data/berlin_population.csv')
berlin_rent_m2 = pd.read_csv('../data/cleaned_data/rent_per_m2_by_Bezirk.csv')

In [3]:
# Aggregate rent data by district
berlin_rent_m2_agg = berlin_rent_m2.groupby("district").agg({
    "minRent": "mean",
    "avgRent": "mean",
    "maxRent": "mean",
    "minBuy": "mean",
    "avgBuy": "mean"
}).reset_index()

# Rename columns for clarity
berlin_rent_m2_agg.rename(columns={
    "minRent": "district_min_rent_m2",
    "avgRent": "district_avg_rent_m2",
    "maxRent": "district_max_rent_m2",
    "minBuy": "district_min_Buy_m2",
    "avgBuy": "district_avg_buy_m2"
}, inplace=True)

In [4]:
# Merge all district-level datasets into a master table
berlin_districts_master = (
    berlin_buildings
    .merge(berlin_employment, on='district', how='outer')
    .merge(berlin_households, on='district', how='outer')
    .merge(berlin_median_income, on='district', how='outer')
    .merge(berlin_population, on='district', how='outer')
    .merge(berlin_rent_m2_agg, on='district', how='outer')
)

In [5]:
berlin_districts_master.head(12)

,district,central_heating_percentage,district_heating,district_heating_percentage,floor_heating,floor_heating_percentage,block_heating,block_heating_percentage,stove_heating,stove_heating_percentage,...,60-69_percentage,70-79,70-79_percentage,>80,>80_percentage,district_min_rent_m2,district_avg_rent_m2,district_max_rent_m2,district_min_Buy_m2,district_avg_buy_m2
0,Charlottenburg-Wilmersdorf,45.4,"8,428",43.7,"1,828",9.5,161,0.8,91,0.5,...,12.3,33 657,10.6,23 227,7.3,11.967500,16.982500,28.567500,3635.500000,6172.250000
1,Friedrichshain-Kreuzberg,40.8,"4,128",37.6,"2,016",18.4,207,1.9,147,1.3,...,8.0,11 259,4.3,7 947,3.0,14.170000,16.730000,29.185000,3245.500000,5253.500000
2,Lichtenberg,43.6,"7,574",41.3,"1,854",10.1,311,1.7,544,3.0,...,11.0,22 488,7.7,20 039,6.9,9.588889,13.200000,21.690000,3296.777778,3967.555556
3,Marzahn-Hellersdorf,62.1,"7,411",22.6,"3,909",11.9,499,1.5,423,1.3,...,15.1,24 091,8.9,15 601,5.8,9.186000,12.830000,20.272000,2678.400000,3512.400000
4,Mitte,39.0,"6,618",45.2,"1,902",13.0,229,1.6,161,1.1,...,8.6,19 092,5.3,13 924,3.9,12.273333,16.106667,29.120000,2804.000000,4967.666667
5,Neukölln,63.7,"5,596",19.5,"3,684",12.9,318,1.1,711,2.5,...,10.3,23 386,7.7,17 113,5.6,9.680000,13.660000,22.160000,3061.500000,3996.750000
6,Pankow,58.3,"8,095",20.6,"6,519",16.6,909,2.3,710,1.8,...,9.0,22 840,5.7,22 431,5.6,10.796364,14.030909,22.812727,3329.363636,4171.181818
7,Reinickendorf,76.0,"3,026",8.5,"4,046",11.3,574,1.6,793,2.2,...,12.1,25 916,10.2,20 290,8.0,10.326667,13.957778,22.038889,3469.444444,4169.777778
8,Spandau,68.3,"3,822",13.2,"3,559",12.3,884,3.1,794,2.7,...,11.6,21 542,9.1,17 403,7.3,10.100000,13.336667,21.436667,3349.000000,3916.500000
9,Steglitz-Zehlendorf,73.3,"6,538",15.8,"3,564",8.6,522,1.3,341,0.8,...,12.2,33 168,11.2,27 082,9.2,12.067143,16.101429,24.895714,3856.000000,5703.571429
10,Tempelhof-Schöneberg,75.5,"2,491",8.5,"3,556",12.1,746,2.5,340,1.2,...,12.0,30 694,9.3,22 444,6.8,11.661667,14.773333,23.458333,3452.666667,4489.333333
11,Treptow-Köpenick,65.8,"5,976",15.2,"5,842",14.9,709,1.8,700,1.8,...,11.1,21 133,7.7,24 470,8.9,10.475714,13.327143,20.876429,3093.785714,3758.428571

In [6]:
berlin_districts_master.shape

(12, 149)

In [8]:
# Check data types of each column 
pd.set_option('display.max_rows', None)
berlin_districts_master.dtypes.reset_index().rename(columns={'index': 'column', 0: 'dtype'})

                                  column    dtype
0                               district   object
1             central_heating_percentage  float64
2                       district_heating   object
3            district_heating_percentage  float64
4                          floor_heating   object
5               floor_heating_percentage  float64
6                          block_heating    int64
7               block_heating_percentage  float64
8                          stove_heating    int64
9               stove_heating_percentage  float64
10                            no_heating    int64
11                 no_heating_percentage   object
12                            gas_energy   object
13                 gas_energy_percentage  float64
14                            oil_energy   object
15                 oil_energy_percentage  float64
16                  mixed_energy_sources   object
17       mixed_energy_sources_percentage  float64
18                          solar_energy   object
19               solar_energy_percentage  float64
20                   wood_pellets_energy    int64
21        wood_pellets_energy_percentage  float64
22                        biomass_energy    int64
23             biomass_energy_percentage   object
24                       electric_energy    int64
25            electric_energy_percentage  float64
26                           coal_energy    int64
27                coal_energy_percentage   object
28                      no_energy_source    int64
29           no_energy_source_percentage   object
30                                 <1950   object
31                      <1950_percentage  float64
32                             1950-1969   object
33                  1950-1969_percentage  float64
34                             1970-1989   object
35                  1970-1989_percentage  float64
36                             1990-2009   object
37                  1990-2009_percentage  float64
38                                 >2010   object
39                      >2010_percentage  float64
40                      total_apartments   object
41                     occupied_by_owner   object
42          occupied_by_owner_percentage  float64
43                    residentual_rental   object
44         residentual_rental_percentage  float64
45               vacation_leisure_rental    int64
46    vacation_leisure_rental_percentage  float64
47                                 empty   object
48                      empty_percentage  float64
49                  avarage_cold_rent_m2  float64
50             avarage_living_space_m2_x  float64
51                           Unnamed: 51  float64
52                          vacancy_rate  float64
53                              employed   object
54                   employed_percentage  float64
55                            unemployed   object
56                 unemployed_percentage  float64
57                           not_working   object
58                not_working_percentage  float64
59                           labor_force   object
60                      male_labor_force   object
61                    female_labor_force   object
62                      total_households   object
63                      single_household   object
64           single_household_percentage  float64
65              couples_without_children   object
66   couples_without_children_percentage  float64
67                 couples_with_children   object
68      couples_with_children_percentage  float64
69                        single_parents   object
70             single_parents_percentage  float64
71                                    WG   object
72                         WG_percentage  float64
73                          only_seniors   object
74               only_seniors_percentage  float64
75              seniors_and_young_adults   object
76   seniors_and_young_adults_percentage  float64
77                                 owner   object
78                      owner_percentage  float64
79                                tenant   object
80                     tenant_percentage  float64
81                 EUR_per_squared_meter  float64
82        1_person_EUR_per_squared_meter  float64
83        2_person_EUR_per_squared_meter  float64
84        3_person_EUR_per_squared_meter  float64
85        4_person_EUR_per_squared_meter  float64
86        5_person_EUR_per_squared_meter  float64
87        6_person_EUR_per_squared_meter  float64
88                         average_rooms  float64
89                1_person_average_rooms  float64
90                2_person_average_rooms  float64
91                3_person_average_rooms  float64
92                4_person_average_rooms  float64
93                5_person_average_rooms  float64
94                6_person_average_rooms  float64
95          average_person_per_household  float64
96            average_years_of_residence  float64
97             avarage_living_space_m2_y  float64
98                   full_time_employees    int64
99                         median_income    int64
100                     total_population   object
101                       men_population   object
102            men_population_percentage  float64
103                     women_population   object
104          women_population_percentage  float64
105                               single   object
106                    single_percentage  float64
107                              couples   object
108                   couples_percentage  float64
109                              widowed   object
110                   widowed_percentage  float64
111                             divorced   object
112                  divorced_percentage  float64
113                   other_civil_status   object
114        other_civil_status_percentage  float64
115                          average_age  float64
116                                  <18   object
117                       <18_percentage  float64
118                                18-29   object
119                     18-29_percentage  float64
120                                30-49   object
121                     30-49_percentage  float64
122                                50-64   object
123                     50-64_percentage  float64
124                                  >65   object
125                       >65_percentage  float64
126                                  <10   object
127                       <10_percentage  float64
128                                10-19   object
129                     10-19_percentage  float64
130                                20-29   object
131                     20-29_percentage  float64
132                                30-39   object
133                     30-39_percentage  float64
134                                40-49   object
135                     40-49_percentage  float64
136                                50-59   object
137                     50-59_percentage  float64
138                                60-69   object
139                     60-69_percentage  float64
140                                70-79   object
141                     70-79_percentage  float64
142                                  >80   object
143                       >80_percentage  float64
144                 district_min_rent_m2  float64
145                 district_avg_rent_m2  float64
146                 district_max_rent_m2  float64
147                  district_min_Buy_m2  float64
148                  district_avg_buy_m2  float64

In [9]:
for col in berlin_districts_master.columns:
    if berlin_districts_master[col].dtype == 'object':
        try:
            # Remove commas and non-numeric characters, then convert to float
            berlin_districts_master[col] = (
                berlin_districts_master[col]
                .replace(r'[^0-9\.\-]', '', regex=True)  # keep digits, dot, minus
                .astype(float)
            )
            print(f"Converted: {col}")
        except ValueError:
            print(f"Skipped (non-numeric): {col}")

Skipped (non-numeric): district
Converted: district_heating
Converted: floor_heating
Skipped (non-numeric): no_heating_percentage
Converted: gas_energy
Converted: oil_energy
Converted: mixed_energy_sources
Converted: solar_energy
Skipped (non-numeric): biomass_energy_percentage
Skipped (non-numeric): coal_energy_percentage
Skipped (non-numeric): no_energy_source_percentage
Converted: <1950
Converted: 1950-1969
Converted: 1970-1989
Converted: 1990-2009
Converted: >2010
Converted: total_apartments
Converted: occupied_by_owner
Converted: residentual_rental
Converted: empty
Converted: employed
Converted: unemployed
Converted: not_working
Converted: labor_force
Converted: male_labor_force
Converted: female_labor_force
Converted: total_households
Converted: single_household
Converted: couples_without_children
Converted: couples_with_children
Converted: single_parents
Converted: WG
Converted: only_seniors
Converted: seniors_and_young_adults
Converted: owner
Converted: tenant
Converted: total_population
Converted: men_population
Converted: women_population
Converted: single
Converted: couples
Converted: widowed
Converted: divorced
Converted: other_civil_status
Converted: <18
Converted: 18-29
Converted: 30-49
Converted: 50-64
Converted: >65
Converted: <10
Converted: 10-19
Converted: 20-29
Converted: 30-39
Converted: 40-49
Converted: 50-59
Converted: 60-69
Converted: 70-79
Converted: >80

In [10]:
# Save the master table to a CSV file
berlin_districts_master.to_csv('../data/master_tables/berlin_districts_master.csv', index=False)